@using DataSets.Entity
@model ApplicationUser

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row m-5">
        <div class="col-md-3">
            <div class="profile-info">
                <h2>Manage Account</h2>
                <ul>
                    <li><a class="pro-edit" data-toggle="modal" data-target="#profile"> My Profile </a></li>
                    <li><a data-toggle="modal" data-target="#address" class="pro-edit">Address Book</a></li>
                </ul>
            </div>
            <div class="order-info">
                <h2>My Order</h2>
                <ul>
                    <li>My Order</li>
                    <li>Cancel Order</li>
                </ul>
            </div>
            <h2>My Reviews</h2>
        </div>
        <div class="col-md-9">
            <div class="profile">
                <div class="row">
                    <div class="personal col-md-4">
                        <h4 style="font-weight: 700">Personal Profile | <a class="pro-edit" data-toggle="modal" data-target="#editpro">Edit</a></h4>
                        <p>@Model.Name</p>
                        <p>@Model.UserName</p>
                    </div>
                    <div class="address-info col-md-8">
                        <h4 style="font-weight: 700">Address Book</h4>
                        <h5 style="font-weight: 500">@Model.Name</h5>
                        <p>Post: @Model.PostalCode <br /> Street: @Model.StreetAddress</p>
                    </div>
                </div>
            </div>
            <div class="recent-order">
                <h2 style="font-weight: 600; padding: 10px 0px">Recent Orders</h2>
                <table class="table table-bordered table-striped text-center">
                    <thead class="text-capitalize">
                        <tr>
                            <td>Order No</td>
                            <td>Order Date</td>
                            <td>Item</td>
                            <td>Total</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>48585978799</td>
                            <td>10/11/2017</td>
                            <td>Walton S7 Pro</td>
                            <td>20500</td>
                            <td><a href="#">Manage</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editpro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="profile">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" disabled class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" disabled class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="City"></label>
                                <input asp-for="City" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="PostalCode"></label>
                                <input asp-for="PostalCode" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="StreetAddress"></label>
                                <input asp-for="StreetAddress" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name: @Model.Name</label>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username: @Model.UserName</label>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email: @Model.Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Address: @Model.PostalCode - @Model.StreetAddress</label>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">City: @Model.City</label>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Phone: @Model.PhoneNumber</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name: @Model.Name</label>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Address: @Model.StreetAddress - @Model.PostalCode</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>