@model DataSets.Entity.ShoppingCart

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var catName = TempData["CatName"];
}


<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="container backgroundWhite">
        <div class="card">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6">
                    <h1 class="text-primary">@Model.Product.Name</h1>
                </div>
                <div class="col-12 col-md-6 text-md-right pt-4">
                    <span class="badge badge-success pt-2" style="height:30px;">@Model.Product.Description</span>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">
                            <div class="row pl-2">
                                <h5 class="text-muted">Category : @catName</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted pb-2">
                                    List Price:
                                    <strike>TL=>@Model.Product.ListPrice.ToString("c")</strike>
                                </h5>
                            </div>
                            <table class="table table-bordered table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Quantity</th>
                                        <th>1-49</th>
                                        <th>50-99</th>
                                        <th>100+</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Price</td>
                                        <td>@Model.Product.Price.ToString("c")</td>
                                        <td>@Model.Product.Price50.ToString("c")</td>
                                        <td>@Model.Product.Price100.ToString("c")</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row pl-2">
                                <p class="text-secondary">@Html.Raw(Model.Product.Description)</p>
                            </div>
                            <div class="row pl-2">
                                <div class="col-2 text-primary"><h4>Count</h4></div>
                                <div class="col-10">
                                    <input asp-for="Count" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.Product.ImageURL" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a class="btn btn-success form-control  btn-square btn-lg" style="height:50px;" asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" value="Add to Cart" class="btn btn-primary btn-square btn-lg form-control" style="height:50px;">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
