@model DataSets.ViewModels.HomeVM
@{
    var firstCategroy = Model.FeaturedCategories[1];
    var secondCategroy = Model.FeaturedCategories[4];
    var thirdCategroy = Model.FeaturedCategories[2];
    var fourCategroy = Model.FeaturedCategories[0];
    var fiveCategroy = Model.FeaturedCategories[3];
    var sixCategroy = Model.FeaturedCategories[5];
}

<!-- SLIDER -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider4" class="rev_slider fullwidthabanner">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/images/slider/slider-bg-4.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-333 letter-spacing-3-2 text-center font-weight-400"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-82,'-82','-82','-82']"
                     data-fontsize="['16','16','16','16']"
                     data-lineheight="['60','60','30','30']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    FURNITURE STORE - PREMIUM QUALITY
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-500 letter-spacing-6 text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-25','-10','-10','-10']"
                     data-fontsize="['60','60','60','30']"
                     data-lineheight="['72','72','72','36']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Furniture Collections
                </div>

                <div class="tp-caption text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['69','69','69','69']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>SHOP NOW</span></a>
                </div>
            </li>
            <!-- /End Slide 1 -->
            <!-- Slide 2 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/images/slider/slider-bg-2.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-accent letter-spacing-7 text-center font-weight-600"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-82,'-82','-82','-82']"
                     data-fontsize="['72','72','72','30']"
                     data-lineheight="['72','72','72','36']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Summer Collections
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-400 letter-spacing-3-6 text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                     data-fontsize="['18','18','18','16']"
                     data-lineheight="['72','72','72','26']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    SALE OFF 30% TO ALL PRODUCTS
                </div>

                <div class="tp-caption text-center"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['69','69','69','69']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>SHOP NOW</span></a>
                </div>
            </li>
            <!-- /End Slide 2 -->
        </ul>
    </div>
</div>
<!-- END SLIDER -->
<!-- IMAGE BOX -->
<section class="flat-row row-image-box style2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-42">
                    <h2 class="title">
                        Top Category
                    </h2>
                </div>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 row2 h24 data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="@firstCategroy.ImageURL" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white has-padding-43">Chairs</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="@secondCategroy.ImageURL" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white has-padding-43">Lighting</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-sm-6 col-md-4">
                <div class="divider hsmobile"></div>
                <div class="flat-image-box style-1 row2 h24 data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="@thirdCategroy.ImageURL" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white has-padding-43 ">Watch</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="@fourCategroy.ImageURL" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white has-padding-43">accessories</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->

            <div class="col-sm-6 col-md-4">
                <div class="divider h0"></div>
                <div class="flat-image-box style-1 row2 h24 data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="@fiveCategroy.ImageURL" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white has-padding-43">Pen</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="@sixCategroy.ImageURL" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white has-padding-43">Table</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->
<section class="flat-row main-shop no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-46">
                    <h2 class="title">Our Product</h2>
                </div>
                <ul class="flat-filter style-3 max-width-682 text-center clearfix">
                    <li class="active"><a href="#" data-filter="*">All Products</a></li>
                    <li><a href="#" data-filter=".ecorative">Decorative </a></li>
                    <li><a href="#" data-filter=".table">Table & Chairs</a></li>
                    <li><a href="#" data-filter=".bedd">Bedd & Bath</a></li>
                    <li><a href="#" data-filter=".accessories">Accessories</a></li>
                </ul>
                <div class="divider h32"></div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style4 isotope-product gutter-15 clearfix">
                        @foreach (var item in Model.FeaturedProducts)
                        {
                            <li class="product-item ecorative accessories">
                                <div class="product-thumb clearfix">
                                    <a asp-action="Details" asp-route-id="@item.ID">
                                        <img src="@item.ImageURL" alt="image">
                                    </a>
                                    <span class="new">New</span>
                                    <div class="add-to-cart text-center">
                                        <a asp-action="Details" asp-route-id="@item.ID">ADD TO CART</a>
                                    </div>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">@item.Name</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">$@item.Price.ToString("0.00")</span>
                                        </ins>
                                    </div>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="divider h1"></div>
            </div>
        </div>
    </div>
</section>
